@import '/src/components/GlobalStyles/variables.scss';
header {
    width: 100%;
}
.top-bar {
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
}
.top-bar_content {
    display: flex;
    justify-content: space-between;
    color: #b2b2b2;
    margin: 0;
}
.top-bar_tittle {
    margin: 0;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.actions {
    display: flex;
    margin: 0;
}

.action_item {
    position: relative;
    list-style-type: none;
    padding: 0 25px;
    font-size: 12px;
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
    height: 40px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.action_item:last-child {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.action_item:hover {
    cursor: pointer;
    color: $primary-color;
}

.wrap-menu {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
}
.wrap-menu_content {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-content_left {
    display: flex;
    align-items: center;
}
.menu-logo {
    display: flex;
    align-items: center;
    color: $primary-color;
}
.logo-img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.menu-logo_icon {
    background-color: transparent;
    font-size: 44px;
    color: $primary-color;

    a:hover {
        color: $primary-color;
    }
}
.menu-logo_title {
    font-weight: 700;
    font-size: 31px;
    margin: 0 16px;
    list-style-type: none;

    a:hover {
        color: $primary-color;
    }
}
.menu_list {
    display: flex;
    list-style-type: none;
    margin-left: 40px;
}
.menu_list li a {
    position: relative;
    font-size: 16px;
    color: black;
    margin: 0 16px;
    font-weight: 500;
    transition: all 0.2s linear;

    &:hover {
        color: $primary-color;
    }
    &:hover::before {
        width: 100%;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 0;
        height: 2px;
        background: $primary-color;
        transition: all 0.3s linear;
    }
}

.menu-actions {
    display: flex;
    align-items: center;

    .menu-icon {
        background-color: transparent;
        margin: 0 20px;
        transition: all 0.4s ease-in-out;
        font-size: 20px;

        &:hover {
            cursor: pointer;
            color: $primary-color;
            transform: scale(1.25);
        }
    }
    .menu-btns {
    }
    .menu-btn:hover {
        background-color: $second-color;
    }
    .menu-menu {
        background-color: transparent;
        margin-left: 20px;
        font-size: 20px;
    }

    .search_box {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 80px;
        width: 64px;
        margin-right: 24px;
        display: flex;
        justify-content: space-between;
        position: relative;
        transition: change-width 0.4s linear;

        .menu-icon-search {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        .search_input {
            margin-left: 20px;
            width: 0px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            background: transparent;
        }
    }
}
.input_change-width {
    width: 400px !important;
}

.menu-mobile-ipad {
    margin-top: $default-layout-header-height;
    background: $primary-color;
    display: flex;
    transition: all 0.4s linear;
}
.main-menu {
    color: black;
    padding: 12px 0;
}
.main-menu > li {
    color: white;
    padding: 6px 0;

    a {
        transition: all 0.2s;
        &:hover {
            cursor: pointer;
            color: white;
            opacity: 0.8;
        }
    }
}

@media (max-width: 739px) {
    .menu-mobile-ipad {
        margin-top: $default-layout-header-height-mobile-ipad;
    }
    .main-menu:first-child {
        border-bottom: 1px solid #ccc;
    }
}

// mobile
@media (max-width: 739px) {
    .menu-logo_icon {
        font-size: 24px;
    }
    .menu-logo_title {
        font-size: 24px;
        margin: 0 12px;
    }
    .menu-search {
        margin: 0;
    }
    .wrap-menu_content {
        height: 48px;
    }
    .menu-mobile-ipad {
        margin-top: $default-layout-header-height-mobile-ipad;
    }
    .main-menu:first-child {
        border-bottom: 1px solid #ccc;
    }
}
