.wrapper_apply {
    background: #ccdfdb;
}
.apply_content {
    padding-bottom: 60px;
    h1 {
        color: #000000b0;
        font-size: 50px;
        font-weight: 600;
        padding: 80px 0 20px 0;
    }
    .volunteer {
        color: white;
        background: #2f7c72;
        padding: 0 12px;
    }
    .main_content {
        color: black;
        align-items: unset;
        .box_title {
            color: black;
            .image-div {
                color: black;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                overflow: hidden;
                .img-link {
                    color: black;
                }
            }

            .first_text {
                color: rgba(0, 0, 0, 0.5882352941);
                font-weight: 300;
                font-style: italic;
                text-align: justify;
                padding-right: 90px;
                margin-top: 20px;
                font-family: 'Roboto';
            }
            .name_tag {
                color: black;
                padding: 20px 0;
                font-weight: 600;
            }
        }
        .box_des {
            position: relative;
            color: black;
            padding: 20px;
            box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.2);
            background: white;
            height: 250px;
            margin-bottom: 36px;

            .box-btn {
                position: absolute;
                bottom: 20px;
                left: 10px;
                transition: all 0.4s ease-in-out;
            }
            .description {
                color: black;
                text-align: justify;
                font-weight: 500;
            }

            .place {
                color: black;
                padding: 24px 0;
            }
        }
    }
}

@media (max-width: 540px) {
    .apply_content h1 {
        font-size: 24px;
    }
    .apply_content .volunteer {
        padding: 0;
    }
}
