@import '/src/components/GlobalStyles/variables.scss';
.wrap-section_core {
    color: black;
}
.row {
    align-items: center;
}

.left_content {
    color: black;
}
a .content_item {
    display: flex;
    align-items: center;
    padding: 30px;
    transition: all 0.1s ease-in-out;

    .item-info {
        color: black;
        margin-right: 24px;
    }
    .item-info h3 {
        color: black;
        font-size: 20px;
        margin: 12px 0;
        font-family: 'Texturina';
    }
    .item-info p {
        font-size: 15px;
    }

    .content_icon {
        font-size: 30px;
        color: white;
        padding: 20px 26px;
        background: $green-banana-color;
        border-radius: 50%;
    }

    &:hover {
        background-color: $green-banana-color;
        .item-info p {
            color: black;
        }
        .content_icon {
            background-color: white;
            color: $green-banana-color;
        }
    }
}
a .second-item {
    background: $green-banana-color;

    .item-info p {
        color: black;
    }
    .content_icon {
        background-color: white;
        color: $green-banana-color;
    }
}

.content-img {
    overflow: hidden;
}

.img-link {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 1023px) {
    .content-img {
        display: none;
    }
}

@media (max-width: 739px) {
    a .content_item {
        padding: 14px 4px;
    }
}
