.wrap {
    color: black;
    position: relative;
    background-image: url(./bg-img.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 60px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #aee6bf;
    opacity: 0.8;
}

.top_content {
    display: flex;
    justify-content: center;
    position: relative;
}
.top {
    color: black;
}
.top h1 {
    color: black;
}
.top p {
    color: black;
}

.wrapper_content {
    padding: 60px;

    .box {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        padding: 12px 36px;

        h2 {
            margin: 24px 0;
        }

        p {
            text-align: justify;
            color: black;
            //font-weight: 500;
        }

        .box_img {
            overflow: hidden;
            width: 200px;
            height: 200px;
            border-radius: 50%;

            .img-link {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}
@media (max-width: 992px) {
    .hide_in_mobile_ipad {
        display: none;
    }

    .wrapper_content {
        margin-top: 0;
        padding: 0;
    }
}

@media (min-width: 576px) {
    .hide_in_ipad_lg {
        display: none;
    }
    .wrapper_content {
        padding: 0;
    }
}

@media (max-width: 576px) or (min-width: 992px) {
    .visi_only_ipad {
        display: none;
    }
    .wrapper_content {
        padding: 0;
    }
}

.slick-prev:before,
.slick-next:before {
    color: black;
    font-size: 30px;
}
