@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import '/src/components/GlobalStyles/variables.scss';

.slider-wrap {
    .wrapper_image {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: calc(100vh - 65px);
        margin-top: 65px;

        .wrap_overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($color: black, $alpha: 0.5);
            pointer-events: none;
        }

        .img-link {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        .content_infor {
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translateX(-50%);
            color: white;

            .prd_name {
                font-size: 55px;
                font-family: 'Texturina';
                font-weight: 500;
                opacity: 0;

                animation-name: fadeInDown;
                animation-duration: 1s;
                animation-fill-mode: both;
            }

            .prd_details {
                margin: 40px 0;
                width: 100%;
                font-size: 16px;
                font-family: 'Markazi Text';
                font-size: 30px;
                font-weight: 200;
            }

            .prd_more {
                display: flex;
                align-items: center;
                margin: 36px 0;
                transition: all 0.4s ease-in-out;

                // :hover {
                //     background-color: black;
                // }
            }
            .prd_icon {
                color: white;
                background: transparent;
                font-size: 26px;
                transition: all 0.4s ease-in-out;
                pointer-events: all;
                cursor: pointer;

                &:hover {
                    cursor: pointer;
                    color: $primary-color;
                }
            }
            .prd_years {
                margin: 0 16px;
                color: white;
            }
            .menu-start {
                color: black;
            }
            .menu-btn {
                padding: 5px 42px;
                color: white;
                font-family: 'Markazi Text';
                font-size: 32px;
                font-weight: 600;
                background: #2f7c72;
                border-radius: 120px;
                margin: 0 40px;
                transition: all 0.4s ease-in-out;
                cursor: pointer;

                &:hover {
                    transform: scale(1.001);
                    background-color: white;
                    color: #333;
                }
            }
        }
    }
}

.wrapper_image {
    position: relative;
}

.prd_name,
.prd_details {
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.prd_name.show,
.prd_details.show {
    opacity: 1;
}
.menu-btn {
    transform: scale(0);
}

.prd_details {
    transform: translateY(20px);
    transition: all 0.4s ease-in-out;
}

.prd_details.show {
    transform: translateY(0);
}
.menu-btn.show {
    transform: unset;
}

.prd_details.more {
    margin: 2px;
}
// .show {
//     opacity: 1;
//     transform: translateY(0);
// }

// ---------------
.slider_item {
    position: relative;
    margin-top: $default-layout-header-height;
}

.right_item {
    position: relative;
    height: calc(100vh - $default-layout-header-height);
    display: flex;
    justify-content: center;
    align-items: center;

    .slogan {
        position: absolute;
        top: 60px;
        right: 0;
        font-family: 'Roboto', sans-serif;
    }
}

.left_item-content {
    height: 100%;
    display: flex;
    align-items: center;

    .left_item {
        // height: 500px;
        background: white;
        padding: 36px 20px;
        border-radius: 10px;

        .prd_title {
            margin-bottom: 70px;
        }
        .prd_name1 {
            color: black;
            font-size: 40px;
            font-family: $font-main;
            font-weight: 400;
        }
        .prd_name2 {
            font-size: 55px;
            font-family: 'Texturina', serif;
            font-style: italic;
        }
        .prd_details {
            margin: 40px 0;
            line-height: 1.4;
            text-align: justify;
            width: 100%;
            font-size: 16px;
        }
        .prd_more {
            display: flex;
            align-items: center;
            margin: 36px 0;
            transition: all 0.4s ease-in-out;

            // :hover {
            //     background-color: black;
            // }
        }
        .prd_icon {
            color: grey;
            background: transparent;
            font-size: 22px;
            transition: all 0.3s ease-in-out;
            pointer-events: all;

            &:hover {
                cursor: pointer;
                color: $primary-color;
            }
        }
        .prd_years {
            margin: 0 16px;
        }
        .menu-start {
            color: black;
        }
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
.slick-prev {
    left: 40px !important;
}
.slick-next {
    right: 40px !important;
}
.slick-next,
.slick-prev {
    z-index: 10000;
}
@media (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 739px) {
    .wrap-homepage {
        top: $default-layout-header-height-mobile-ipad;
    }
    .wrap-images {
        height: 100%;
        margin-top: 36px;
    }

    .content_infor {
        top: 10% !important;
        left: 6px !important;
        transform: unset !important;
        .prd_name {
            font-size: 22px !important;
        }

        .prd_details {
            font-size: 14px !important;
            margin: 12px 0 !important;
        }
        .prd_more {
            margin: 0 0 36px 0;
        }
        .menu-btn {
            display: none !important;
        }
        .prd_icon {
            font-size: 12px !important;
        }
    }

    .wrap-menu {
        // position: relative;
    }
    .right_item {
        height: 100%;
    }

    .slick-prev {
        display: none !important;
        left: -11px;
        z-index: 999;

        &::before {
            font-size: 12px;
            color: white;
        }
    }
    .slick-next {
        display: none !important;
        right: -7px;

        &::before {
            font-size: 12px;
            color: white;
        }
    }
    .slider-wrap .wrapper_image {
        height: 100%;
        margin-top: 52px;
    }
}

.content_infor {
    position: absolute;
}

/* PC medium resolution > */
@media (min-width: 1113px) {
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    .content_infor {
        .prd_name {
            font-size: 36px !important;
        }

        .prd_details {
            font-size: 21px !important;
            margin: 24px 0 !important;
        }
        .prd_more {
            margin: 0 0 36px 0;
        }
    }

    .right_item {
        // width: 100%;
        height: 100%;
        margin: 16px 0;

        .slogan {
            top: 10px;
            font-size: 16px;
            z-index: 999;
        }
    }

    .slick-prev {
        left: 0px !important;
        &::before {
            font-size: 20px;
            color: white;
        }
    }
    .slick-next {
        right: 10px !important;
        &::before {
            font-size: 20px;
            color: white;
        }
    }
    .slider-wrap .wrapper_image {
        height: 100%;
    }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1280px) {
    .right_item .slogan {
        top: 20px;
    }
    .container {
        .slick-prev {
            &::before {
                font-size: 24px;
                color: white;
            }
        }
        .slick-next {
            &::before {
                font-size: 24px;
                color: white;
            }
        }
    }
}
