.rightbarhome {
    .birthdayContainer {
        display: flex;
        font: poppins;
        align-items: center;

        .birthdayImg {
            width: 100px;
            height: 100px;
            margin-right: 10px;
        }

        .birthdayText {
            font-weight: 300;
            font-size: 15px;
            cursor: pointer;
        }
    }

    .rightbarHr {
        margin: 10px 0;
    }

    .rightbarAdvert {
        width: 100%;
        margin: 30px 0;
        border-radius: 10px;
        cursor: pointer;
    }

    .rightbarTitle {
        display: flex;
        margin-bottom: 20px;
    }
}
